.ErrorFourOhFourTitle {
    position: absolute;
    font-size: 85px;
    left: 900px;
    top: 315px;
}
.ErrorFourOhFourSad {
    position: absolute;
    color: rgb(223, 223, 223);
    font-style: normal;
    font-family: sans-serif;
    font-size: 30px;
    left: 700px;
    top: 450px;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 23px;
    margin: 0px auto;
    scroll-behavior: smooth;
    background-color: rgb(37, 41, 44);
}